body{
  padding: 0;
  margin: 0;
  font-family: 'Fantasy', 'papyrus', 'serif';
  background-image: url(baluty.jpg);
  background-size: cover;
}

button{
  background-color: rgb(171, 126, 84);
  color: white;
  padding: 20px 10px;
  margin: 5px 0;
  border-style: outset;
  border: 2px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-family: 'Fantasy', 'papyrus', 'serif';
  font-weight: bold;
}

header{
  width: 100%;
  text-align: center;
  font-size: xx-large;
  padding: 20px 0px;
  text-shadow: 3px 3px black;
}





.App {
  text-align: justify;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  /* width: 100%; */
  background-color: #282c34;
  /* text-align: center;
  font-size: xx-large; */
  color: white; 
  /* padding: 20px 0px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.47), 0 6px 20px 0 rgba(0, 0, 0, 0.849);
  text-shadow: 3px 3px black;
  position: sticky;
  top: 0;
}

.App-content {
  background-color: #282c34;
  color: white;
  padding: 30px;
  margin: 20px;
  width: 50%;
  /* height: 50%; */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.47), 10px 6px 20px 10px rgba(0, 0, 0, 0.849);
}


.End-winningText {
  color: green
}

.End-losingText {
  color: red
}

.Resources{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-style: solid;
  margin-top: 40px;
  border-radius: 5px;
  border-color: rgb(167, 96, 29);
  border-width: 5px;
  /* width: 100%; */
  height: 100%;
  background-color: rgb(171, 126, 84);
}

.Resources-text{
  font-weight: bold;
  font-size: large;
  padding: 10px 5px 0px 10px;
  margin-left: 10px;
}


.Resources-list{
  list-style-type: none;
}

.Resources-timetable{
  list-style-type: none;
}